<!DOCTYPE HTML>
<html>
<title>LDAPconfig</title>

<head>
    <style type="text/css">
        table {
            border: 3px #000000 double;
            align:center;
        }

        td {
            border: 1px #000000 solid;
        }

        th {
            border: 1px #000000 solid;
            background-color: #87cefa;
            text-align: center;
            vertical-align: middle;
        }
        input#submitbutton{
            font-size:  20px;
            width:  200px;
            height: 30px;
        }
    </style>
    <script type="text/javascript">
    <!--
        window.onload = function() {
            document.getElementById("timeunlimited").onclick = function() {
                document.getElementById("timelimit").disabled = this.checked;
            }
            document.getElementById("sizeunlimited").onclick = function() {
                document.getElementById("sizelimit").disabled = this.checked;
            }
        }
    // -->
    </script>

</head>


<body>
<h1>LDAPconfing</h1>

<p>{{ loginuser }} でログインしています<p>

<p>現在のLogLevel設定状況</p>
<form action="/" method="post">
<input name=csrf type=hidden value="{{ csrftoken() }}">
{% if not read_auth %}
    <strong>閲覧権限がありません</strong>
{% else %}

    {% if not modify_auth %}
        <strong>変更権限がありません</strong>
    {% endif %}
<table>
    <tr>
        <th>bit</th>
        <th>levelname</th>
        <th>state</th>
    </tr>
    {% for loglevel in loglevels|dictsort(true) %}
    <tr>
        <td>{{ loglevel[0] }}</td>
        <td align="center">{{ loglevel[1] }}</td>
        {% if loglevel[1] in loglevelstate %}
            <td align="center" bgcolor="ff0000">
                <input type="checkbox" name="{{ loglevel[1] }}" checked>
            </td>
        {% else %}
            <td align="center">
                <input type="checkbox" name="{{ loglevel[1] }}">
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
<table>
    <tr>
        <td align="center">現在のTimeLimit : {{ timelimit }}</td>
        <td>
        {% if timelimit == "unlimited" %}
            <input type="number" id="timelimit" name="timelimit" style="width:50px;" disabled required>
            <input type="checkbox" id="timeunlimited" name="timelimit" checked>unlimited
        {% else %}
            <input type="number" id="timelimit" name="timelimit" value="{{timelimit}}" style="width:50px;" required>
            <input type="checkbox" id="timeunlimited" name="timelimit">unlimited
        {% endif %}
        </td>    
    </tr>
    <tr>
        <td align="center">現在のSizeLimit : {{ sizelimit }}</td>
        <td>
        {% if sizelimit == "unlimited" %}
            <input type="number" id="sizelimit" name="sizelimit" style="width:50px;" disabled required>
            <input type="checkbox" id="sizeunlimited"name="sizelimit" checked>unlimited
        {% else %}
            <input type="number" id="sizelimit" name="sizelimit" value="{{sizelimit}}" style="width:50px;" required>
            <input type="checkbox" id="sizeunlimited"name="sizelimit">unlimited
            
        {% endif %}
        </td>
    </tr>
</table>
    <p> <input id="submitbutton" type="submit" name="sendbutton" value="送信"></p>
{% endif %}
    <p><input id="submitbutton" type="submit" name="logoutbutton" value="ログアウト"></p>
    
{% if read_auth %}
   
<h1> Global Config Options </h1>
<table>
    <th>option</th>
    <th>state</th>
{% for key in configoptions %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <ul>
            {% for data in configoptions[key]%}
                <li>{{ data }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>


<h1> Global Database Options </h1>
<table>
    <th>option</th>
    <th>state</th>
{% for key in databaseoptions %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <ul>
            {% for data in databaseoptions[key]%}
                <li>{{ data }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>

{% endif %}

</form>

</body>

</html>
