<!DOCTYPE HTML>
<html>
<title>LDAPconfig</title>

<head>
    <style type="text/css">
        table {
            border: 3px #000000 double;
            align:center;
        }

        td {
            border: 1px #000000 solid;
        }

        th {
            border: 1px #000000 solid;
            background-color: #87cefa;
            text-align: center;
            vertical-align: middle;
        }
        input#submitbutton{
            font-size:  20px;
            width:  200px;
            height: 30px;
        }
    </style>
</head>


<body>
<h1>LDAPconfing</h1>

<p>現在のLogLevel設定状況</p>


<form action="/ldapconfig" method="post">
<table>
    <tr>
        <th>bit</th>
        <th>levelname</th>
        <th>state</th>
    </tr>
    {% for loglevel in loglevels|dictsort(true) %}
    <tr>
        <td>{{ loglevel[0] }}</td>
        <td align="center">{{ loglevel[1] }}</td>
        {% if loglevel[1] in loglevelstate %}
            <td align="center" bgcolor="ff0000">
                <input type="checkbox" name="{{ loglevel[1] }}" checked>
            </td>
        {% else %}
            <td align="center">
                <input type="checkbox" name="{{ loglevel[1] }}">
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
    <input id="submitbutton" type="submit" name="button" value="送信">

</form>
</body>

</html>
