<!DOCTYPE HTML>
<html>
<title>LDAPconfig</title>

<head>
    <style type="text/css">
        table {
            border: 3px #000000 solid;
            align:center;
        }

        td {
            border: 1px #000000 solid;
        }

        th {
            border: 1px #000000 solid;
            background-color: #87cefa;
            text-align: center;
            vertical-align: middle;
        }
        input#submitbutton{
            font-size:  20px;
            width:  200px;
            height: 30px;
        }
    </style>
    <script type="text/javascript">
    <!--
        window.onload = function() {
            document.getElementById("timeunlimited").onclick = function() {
                document.getElementById("timelimit").disabled = this.checked;
            }
            document.getElementById("sizeunlimited").onclick = function() {
                document.getElementById("sizelimit").disabled = this.checked;
            }
        }

        function addIndex()
        {
            var tbody = document.getElementById("indexlist");
            var y = tbody.rows.length;
            var tr = document.createElement("tr");
            tr.setAttribute("name", "index_" + y);
            var td_input = document.createElement("td");
            var td_select = document.createElement("td");
            var td_button = document.createElement("td");

            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("name", "index_" + y);
            input.required = true;
            td_input.appendChild(input);

            var select = document.createElement("select");
            var options = ["pres", "eq", "approx", "sub"]
            for (var i = 0; i<options.length; i++) {
                select.options[i] = new Option(options[i],options[i]);
            }
            select.setAttribute("name","option_" + y)
            td_select.appendChild(select);

            var button = document.createElement("input");
            button.setAttribute("type","button");
            button.setAttribute("id","button_" + y);
            button.setAttribute("value","消去");
            button.setAttribute("onClick","delIndex(" + y +");");
            td_button.appendChild(button);

            tr.appendChild(td_input)
            tr.appendChild(td_select)
            tr.appendChild(td_button)
            tbody.appendChild(tr);
            
        }
        function delIndex(num) {
            var tbody = document.getElementById("indexlist")
            tbody.deleteRow(num)
            rename();
        }
        function rename() {
            var tbody = document.getElementById("indexlist")
            for(var i = 1; i < tbody.rows.length; i++){
                var row = tbody.rows[i];
                row.setAttribute("name","index_" + i);
                row.cells[0].firstChild.setAttribute("name", "index_" + i);
                row.cells[1].firstChild.setAttribute("name", "option_" + i);
                row.cells[2].firstChild.setAttribute("id","button_" + i);
                row.cells[2].firstChild.setAttribute("onclick", "delIndex(" + i + ");");

            }
        }

    // -->
    </script>

</head>


<body>
<h1>LDAPconfing</h1>

<p>{{ loginuser }} でログインしています<p>

<p>現在のLogLevel設定状況</p>
<form action="/" method="post">
<input name=csrf type=hidden value="{{ csrftoken() }}">
{% if not read_auth %}
    <strong>閲覧権限がありません</strong>
{% else %}

    {% if not modify_auth %}
        <strong>変更に失敗しました</strong>
    {% endif %}
<table>
    <tr>
        <th>bit</th>
        <th>levelname</th>
        <th>state</th>
    </tr>
    {% for loglevel in loglevels|dictsort(true) %}
    <tr>
        <td>{{ loglevel[0] }}</td>
        <td align="center">{{ loglevel[1] }}</td>
        {% if loglevel[1] in loglevelstate %}
            <td align="center" bgcolor="ff0000">
                <input type="checkbox" name="{{ loglevel[1] }}" checked>
            </td>
        {% else %}
            <td align="center">
                <input type="checkbox" name="{{ loglevel[1] }}">
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
<table>
    <tr>
        <th align="center">現在のTimeLimit : {{ timelimit }}</th>
        <td>
        {% if timelimit == "unlimited" %}
            <input type="number" id="timelimit" name="timelimit" style="width:50px;" disabled required>
            <input type="checkbox" id="timeunlimited" name="timelimit" checked>unlimited
        {% else %}
            <input type="number" id="timelimit" name="timelimit" value="{{timelimit}}" style="width:50px;" required>
            <input type="checkbox" id="timeunlimited" name="timelimit">unlimited
        {% endif %}
        </td>    
    </tr>
    <tr>
        <th align="center">現在のSizeLimit : {{ sizelimit }}</th>
        <td>
        {% if sizelimit == "unlimited" %}
            <input type="number" id="sizelimit" name="sizelimit" style="width:50px;" disabled required>
            <input type="checkbox" id="sizeunlimited"name="sizelimit" checked>unlimited
        {% else %}
            <input type="number" id="sizelimit" name="sizelimit" value="{{sizelimit}}" style="width:50px;" required>
            <input type="checkbox" id="sizeunlimited"name="sizelimit">unlimited
            
        {% endif %}
        </td>
    </tr>
</table>

<table>
    <tbody id="indexlist">
    <tr>
        <th colspan="3">olcDbIndex</th>
    </tr>
    {% set optionlist = ['pres', 'eq', 'approx', 'sub'] %}
    {% for index in dbindex %}
        <tr name="index_{{ loop.index}}">
            <td><input type="text" name="index_{{ loop.index }}" value="{{ index[0] }}" required>
            </td>
            <td><select name="option_{{ loop.index }}">
            {% for option in optionlist %}
                {% if index[1] == option %}
                    <option value="{{ option }}" selected>{{option}}</option>
                {% else %}
                    <option value="{{ option }}">{{option}}</option>
                {% endif %}
            {% endfor %}
            </select></td>
            <td><input type="button" id="button_{{loop.index}}" value="消去" onClick="delIndex({{ loop.index }});"></td>
        </tr>
    {% endfor %}
   </tbody>
        <tr><td colspan="3" align="center"><input type="button" id="submitbutton" value="追加" onClick="addIndex();"></td></tr>
</table>
    <p> <input id="submitbutton" type="submit" name="sendbutton" value="送信"></p>
{% endif %}
    <p><input id="submitbutton" type="submit" name="logoutbutton" value="ログアウト"></p>
    
{% if read_auth %}
   
<h1> Global Config Options </h1>
<table>
    <th>option</th>
    <th>state</th>
{% for key in configoptions %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <ul>
            {% for data in configoptions[key]%}
                <li>{{ data }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>

<h1> Global Database Options </h1>
<table>
    <th>option</th>
    <th>state</th>
{% for key in databaseoptions %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <ul>
            {% for data in databaseoptions[key]%}
                <li>{{ data }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>


<h1> Examples </h1>
<table>
    <th>option</th>
    <th>state</th>
{% for key in examples %}
    <tr>
        <td>{{ key }}</td>
        <td>
            <ul>
            {% for data in examples[key]%}
                <li>{{ data }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>


{% endif %}

</form>

</body>

</html>
