<!DOCTYPE HTML>
<html>
<title>LDAPLogin</title>

<head>
<style>
    table{
        border: 10px #ff0000 solid;
        padding: 10px;
        font-size: 20px;
    }
    td {
        padding: 10px;
    }
</style>
</head>
<body>
<h1>LDAPConfig ログインフォーム</h1>

{% if err %}
    <strong>ユーザー名またはパスワードが違います</strong>
{% endif %}

<form action="/" method="post" AUTOCOMPLETE ="OFF">
<table>
    <tr>
        <td>UserName</td>
        <td><input type="text" name="user" required ></td>
    </tr>
    <tr>
        <td>PassWord</td>
        <td><input type="password" name="pass" required ></td>
    </tr>
    <tr align="center" size="15">
        <td colspan="2">
            <input type="submit" name="button" value="login" 
            style="width:100px;height:50px;font-size:20px" >
        </td>
    </tr>
</table>
</form>
</body>

</html>
